In [2]:
import sys
import pandas as pd

In [3]:
a=pd.Series()

In [4]:
import numpy as np
a = np.arange(10,90,10)

In [5]:
b = pd.Series(a)

In [6]:
b

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
dtype: int32

In [10]:
list(b.index)

[0, 1, 2, 3, 4, 5, 6, 7]

In [11]:
type(b)

pandas.core.series.Series

In [12]:
b[b>50]

5    60
6    70
7    80
dtype: int32

In [13]:
b[b<50]

0    10
1    20
2    30
3    40
dtype: int32

In [14]:
b.index=['a','b','c','d','e','f','g','h']

In [15]:
b

a    10
b    20
c    30
d    40
e    50
f    60
g    70
h    80
dtype: int32

In [16]:
a*10

array([100, 200, 300, 400, 500, 600, 700, 800])

In [17]:
a

array([10, 20, 30, 40, 50, 60, 70, 80])

In [18]:
b.apply(lambda e:e*10)

a    100
b    200
c    300
d    400
e    500
f    600
g    700
h    800
dtype: int64

In [19]:
b.apply(lambda e:e+10)

a    20
b    30
c    40
d    50
e    60
f    70
g    80
h    90
dtype: int64

In [42]:
b.dropna(inplace=True)

In [21]:
b[0]

10

In [23]:
b[[0,1,4,5]]

a    10
b    20
e    50
f    60
dtype: int32

In [27]:
b['a']+=2

In [28]:
b['a']

12

In [29]:
b

a    12
b    20
c    30
d    40
e    50
f    60
g    70
h    80
dtype: int32

In [30]:
b=b.append(pd.Series([90,np.NaN,np.nan,120]))

In [43]:
b

a     12.0
b     20.0
c     30.0
d     40.0
e     50.0
f     60.0
g     70.0
h     80.0
0     90.0
3    120.0
dtype: float64

TO DEAL WITH NULL VALUES
dropna()->to drop nan values
isna.sum() or isna ->to check for presence of null values 
fillna() -> to fill null values

In [32]:
b.isna()

a    False
b    False
c    False
d    False
e    False
f    False
g    False
h    False
0    False
1     True
2     True
3    False
dtype: bool

In [33]:
b.isna

<bound method Series.isna of a     12.0
b     20.0
c     30.0
d     40.0
e     50.0
f     60.0
g     70.0
h     80.0
0     90.0
1      NaN
2      NaN
3    120.0
dtype: float64>

In [34]:
b.dropna()

a     12.0
b     20.0
c     30.0
d     40.0
e     50.0
f     60.0
g     70.0
h     80.0
0     90.0
3    120.0
dtype: float64

In [45]:
b.fillna(0)

a     12.0
b     20.0
c     30.0
d     40.0
e     50.0
f     60.0
g     70.0
h     80.0
0     90.0
3    120.0
dtype: float64

In [38]:
b.isna().sum()

2

In [41]:
b.dropna()

a     12.0
b     20.0
c     30.0
d     40.0
e     50.0
f     60.0
g     70.0
h     80.0
0     90.0
3    120.0
dtype: float64

drop_duplicates().dropna()

In [48]:
b.astype(int) #type casting

a     12
b     20
c     30
d     40
e     50
f     60
g     70
h     80
0     90
3    120
dtype: int32

In [49]:
b.min()

12.0

In [50]:
b.max()

120.0

In [53]:
b.argmax()

E:\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  """Entry point for launching an IPython kernel.

3

In [54]:
b.argmin()

E:\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.
  """Entry point for launching an IPython kernel.

'a'

In [61]:
b[b.argmin()]

E:\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.
  """Entry point for launching an IPython kernel.

12.0

In [62]:
b.sort_values().reset_index(drop=True)

0     12.0
1     20.0
2     30.0
3     40.0
4     50.0
5     60.0
6     70.0
7     80.0
8     90.0
9    120.0
dtype: float64

In [64]:
b.idxmin(skipna=True)

'a'