In [29]:
import numpy as np
import pandas as pd

In [30]:
data=pd.read_csv("Salaries.csv")

In [31]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [32]:
data.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148649,148650,Roy I Tillery,Custodian,0.0,0.0,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [33]:
data.shape

(148654, 13)

In [34]:
data.size

1932502

In [35]:
data.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                609
OvertimePay              4
OtherPay                 4
Benefits             36163
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              148654
dtype: int64

In [36]:
data['BasePay'].mean()

66325.44884050643

In [37]:
data['OvertimePay'].max()

245131.88

In [38]:
c=data['OvertimePay'].idxmax()
data.iloc[c]

Id                                                2
EmployeeName                           GARY JIMENEZ
JobTitle            CAPTAIN III (POLICE DEPARTMENT)
BasePay                                      155966
OvertimePay                                  245132
OtherPay                                     137811
Benefits                                        NaN
TotalPay                                     538909
TotalPayBenefits                             538909
Year                                           2011
Notes                                           NaN
Agency                                San Francisco
Status                                          NaN
Name: 1, dtype: object

In [39]:
#fetch job title of JOSEPH DRISCOLL
data[data["EmployeeName"]=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [40]:
#fetch Totalpaybenefits of Joseph Driscoll
data[data["EmployeeName"]=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [41]:
c=data['TotalPayBenefits'].idxmax()
data.iloc[c]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [42]:
data["TotalPayBenefits"].max()

567595.43

In [43]:
data[data['TotalPayBenefits']==567595.43]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [44]:
data[data['TotalPayBenefits']==data['TotalPayBenefits'].max()]["EmployeeName"]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [45]:
data[data['TotalPayBenefits']==data['TotalPayBenefits'].min()]["EmployeeName"]

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [46]:
#Average BAse pay for all Empolyees per year
data.groupby('Year').mean()['BasePay'] #c=data.groupby("Year")
#c['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [47]:
#data[data['Year'].apply(lambda x: ((x>=2011)&(x<=2015)) )].mean()['BasePay']

In [48]:
data['JobTitle'].nunique()

2159

In [49]:
data['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [50]:
np.bincount(data['JobTitle'])#it only work at binary values icluation

ValueError: invalid literal for int() with base 10: 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY'

In [ ]:
#how many job title were reprstented by only one person in 2103?
sum(data[data['Year']==2013]['JobTitle'].value_counts()==1)

In [ ]:
#How many people have the word "Cheif " in their job title?
j=0
for e in data['JobTitle']:
    e=str(e)
   # f=e.count(" ")
    l1=list(e.split(' '))
    #print(l1)
    if (l1.__contains__('Chief')==True)|(l1.__contains__('CHIEF')==True):
        j+=1
         
                
print(j)

In [ ]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [ ]:
sum(data['JobTitle'].apply(lambda x: chief_string(x)))

Is there a correlation between length of the job Title string and salary??????????

In [ ]:
data['title_len']=data['JobTitle'].apply(len)

In [ ]:
data[['title_len','TotalPayBenefits']].corr()

In [ ]:
np.bincount(data['JobTitle'])